@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Workaround from https://github.com/twbs/bootstrap/issues/25211
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{$navbar-dark-color}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{$navbar-light-color}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

@import "~bootstrap/scss/bootstrap";
@import "custom";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

/*
 * FOOTER
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    z-index: 1050;
}

main.container-fluid {
    @media (max-width: 768px) {
        padding: 0;
    }
}

.max-h-sticky-col {
    max-height: calc(100vh - 60px - 70px);
    overflow-y: auto;

    @media (max-width: 768px) {
        max-height: calc(100vh - 60px);
    }
}

.sliding-container {
    width: 100%;
    overflow-x: clip;
}


.playlists-container {
    @media (max-width: 768px) {
        width: 200%;

        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;

        &.sidebar-shown {
            transform: translateX(0%);
        }
    }
}

.left-playlists-sidebar {
    width: 40%;
    max-width: 520px;
    top: 0;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.sidebar-open {
    width: 30px;
    height: 30px;
    font-size: 2em;
    display: block;
    top: 0;
    background: white;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.sidebar-close {
    width: 30px;
    height: 30px;
    font-size: 2em;
    display: block;
    right: 0;
    top: 0;
    background: white;
    border-bottom-left-radius: 10px;
}

.main-playlists-container {
    min-width: 300px;

    @media (max-width: 768px) {
        width: 100%;
    }
}

