doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/dist/main.css')
    body
        #page-container
            main.container-fluid
                if messages.info
                    .alert.alert-info= messages.info
                if messages.error
                    .alert.alert-danger= messages.error

                block content

            block footer


        script(src='/dist/main.js')
