extends layout

block content
    a.m-3.float-sm-right.btn.btn-primary(href='/playlists/refresh') Refresh playlists
    form.form-inline.m-3.float-sm-right.w-25
        .input-group
            .input-group-text
                label.m-0(for='api_key') Your API Key
            input#api_key.form-control(name='api_key', value=user.api_key)
    h1 YT Playlists

    .clearfix
    .row
        each playlist in playlists
            .col-sm-3
                a(href='/playlists/' + playlist.id).card.my-3.p-3
                    img.card-img-top(src=playlist.metadata.thumbnails.medium.url)
                    h4.card-title= playlist.title
                    p.card-text= playlist.status
