body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.metadata-cell.no-metadata label {
  color: #F00;
}

.metadata-cell .submit.submitting {
  display: none;
}

form.export pre input{
  width: 30px;
  margin-right: 10px;
}
